@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);
$alata: "Alata",
sans-serif;
$josefin: "Josefin Sans",
sans-serif;

html {
  font-size: 62.5%;
  color: $black;
  font-family: $alata;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $alata;
  position: relative;
  // overflow: hidden;
}

h1 {
  font-size: 4rem;
  font-family: $alata;
}

h2 {
  font-size: 4rem;
  font-family: $alata;
}

h3 {
  font-size: 2.5rem;
  font-family: $alata;
}

h4 {
  font-size: 2.5rem;
  font-family: $alata;
}

p {
  font-size: 1.5rem;
  font-family: $alata;
}

li {
  font-size: 1.5rem;
  list-style: none;
  font-family: $alata;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  font-family: $alata;
}

.none {
  display: none;
}

// Hamburger menu
#header {
  .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 2rem;
    position: relative;

    span {
      display: block;
      width: 2rem;
      height: 1rem;
      margin-top: 3px;
      background: rgb(250, 199, 255);
      border-radius: 3px;
      transition: all 0.5s;

      &:nth-child(2) {
        transform-origin: 0 0;
      }

      &:nth-child(4) {
        transform-origin: 0 100%;
      }
    }

    input {
      display: block;
      position: absolute;
      background-color: $black;
      width: 4rem;
      height: 2rem;
      left: -5px;
      top: -5px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;

      &:checked~span:nth-child(2) {
        background-color: $white;
        transform: rotate(45deg) translate(-1px, -1px);
      }

      &:checked~span:nth-child(4) {
        background-color: $white;
        transform: rotate(-45deg) translate(-1px, 0);
      }

      &:checked~span:nth-child(3) {
        opacity: 0;
        transform: scale(0);
      }
    }
  }
}

@import "home";

@media (min-width: 1200px) {
  .container {
    max-width: 85%;
    margin: auto;
    position: relative;
  }
}

@media screen and(max-width: 767px) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 85%;
    margin: auto;
    position: relative;
  }

  #header {
    margin: 0;
    padding: 0;

    .menu {
      position: absolute;
      right: 0;
      height: 100vh;
      top: 0;
      margin: 0 !important;
      padding: 0 !important;
      background: $black;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      z-index: 99;
      transform: translateY(-100%);
      opacity: 1;
      // display: none;
      transition: all 1s;
    }

    .menu.slide {
      display: inherit;
      transform: translateY(0);
    }

    .menu-toggle {
      display: flex;
      z-index: 999;
      position: relative;
      margin-top: 0.5rem;
      margin-left: 5rem;
    }
  }

  #about {
    z-index: -2;
    // margin-bottom: 5rem !important;
  }
}